/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

body{
    background-color:black;
}

.header-card{
    background-color:chocolate;
    padding-top: 10px;
    padding-bottom: 5px;
}

h1{
    margin-left: 20px;
    color: white;
    font-family: sans-serif;
}

.ag-header-cell-label .ag-header-cell-text{
    color:chocolate;
    font-size: 14px;
    font-weight: bold;
}

button {
    background-color: blue;
}